<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
       <!-- <add name="EstadoCuentaByID.Properties.Settings.AUXWANCHAQConnectionString" connectionString="Data Source=USUARIO-4HQE76I\SSQLMDWPMSER06;Initial Catalog=AUXWANCHAQ;Persist Security Info=True;User ID=sa;Password=wanchaqsql-2013" providerName="System.Data.SqlClient"/>-->
       <add name="EstadoCuentaByID.Properties.Settings.AUXWANCHAQConnectionString" connectionString="Data Source=.;Initial Catalog=AUXWANCHAQ;Persist Security Info=True;User ID=sa;Password=Server2010" providerName="System.Data.SqlClient"/>
      
       <!-- <add name="EstadoCuentaByID.Properties.Settings.SIRecuperaConnectionString" connectionString="Data Source=USUARIO-4HQE76I\SSQLMDWPMSER06;Initial Catalog=SIRecupera;Persist Security Info=True;User ID=sa;Password=wanchaqsql-2013" providerName="System.Data.SqlClient"/>-->
       <add name="EstadoCuentaByID.Properties.Settings.SIRecuperaConnectionString" connectionString="Data Source=.;Initial Catalog=SIRecupera;Persist Security Info=True;User ID=sa;Password=Server2010" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
